* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #60a5fa, #2563eb);

    color: #1f2937;
}

.weather-app {
    width: 100%;
    max-width: 450px;

    padding: 30px;

    text-align: center;

    background: white;

    border-radius: 20px;

    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 25px;

    color: #1e3a8a;
}

.search-box {
    display: flex;

    gap: 10px;

    margin-bottom: 15px;
}

#cityInput {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 1rem;

    outline: none;
}

#cityInput:focus {
    border-color: #2563eb;
}

button {
    border: none;

    border-radius: 8px;

    padding: 12px 18px;

    background: #2563eb;

    color: white;

    font-size: 1rem;

    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.location-btn {
    width: 100%;

    margin-bottom: 15px;

    background: #16a34a;
}

.location-btn:hover {
    background: #15803d;
}

#message {
    min-height: 24px;

    margin-bottom: 10px;

    color: #dc2626;

    font-weight: bold;
}

.weather-card {
    margin-top: 10px;

    padding: 25px;

    background: #eff6ff;

    border-radius: 15px;
}

#cityName {
    font-size: 1.7rem;

    margin-bottom: 8px;

    color: #1e3a8a;
}

#weatherCondition {
    margin-bottom: 15px;

    font-size: 1.1rem;

    color: #475569;
}

.temperature {
    margin-bottom: 25px;

    font-size: 4rem;

    font-weight: bold;

    color: #2563eb;
}

.weather-info {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 15px;
}

.weather-info div {
    padding: 15px;

    background: white;

    border-radius: 10px;
}

.weather-info strong {
    display: block;

    font-size: 1.5rem;

    margin-bottom: 5px;
}

.weather-info span {
    font-size: 0.9rem;

    color: #64748b;
}

.weather-info p {
    margin-top: 5px;

    font-weight: bold;
}


/* Mobile */

@media (max-width: 500px) {

    .weather-app {
        padding: 20px;
    }

    .search-box {
        flex-direction: column;
    }

    #searchBtn {
        width: 100%;
    }

    .temperature {
        font-size: 3.2rem;
    }

    .weather-info {
        grid-template-columns: 1fr;
    }
}